@page "/demo"

<h3>Demo</h3>

<div>
    Name: @Name
</div>

<div>
    IsAuthenticated: @IsAuthenticated
</div>

<div>
    AuthenticationType: @AuthenticationType
</div>

<div>
    Role: @Role
</div>

<div>
    Expirationtime: @ExpirationTime
</div>