@inherits LayoutComponentBase
@using Radzen.Blazor


    <RadzenDialog />
    <RadzenNotification />
    @*<RadzenTooltip />*@
    @*<RadzenContextMenu />*@

    <NavMenu />

    <div class="main">
        @Body
    </div>

