@inherits LayoutComponentBase
@using Radzen.Blazor

<NavMenu />

<div class="main">
    @Body
</div>

<RadzenFooter>
    <ChildContent>
        <RadzenLabel Text="Iot.Net, Copyright © 2022"></RadzenLabel>
    </ChildContent>
</RadzenFooter>